.body-container {
  background-color: #DADADA;
  padding-bottom: 20px;
  .img-card {
    margin-top: 30px;
    padding: 45px;
    border-radius: 3px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .icon-bg {
      background-color: rgba(69, 69, 69, 0.8);
      @include size(60px);
      padding: 20px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      img {
        @include size(30px);
      }
      @media #{$breakpoint-medium} {
        @include size(90px);
        img {
          @include size(40px);
        }
      }
    }
    .card-text {
      @include position(absolute, 80% 0 0 40%);
      transform: translate(-50%, -50%);
      hr {
        border: solid 2.5px $orange;
        width: 17%;
        margin: 10px 0;
      }
      @media #{$breakpoint-medium} {
        @include position(absolute, 85% 0 0 40%);
        transform: translate(-50%, -50%);
      }
    }
    @media #{$breakpoint-medium} {
      margin: 0;
      padding: 0;
      height: 450px;
    }
  }
  .rafting {
    background-image: url("../img/rafting.jpg");
    background-size: cover;
    background-position: center;
  }
  .base-camp {
    background-image: url("../img/basecamp.jpg");
    background-size: cover;
    background-position: center;
  }
  .backpacking {
    background-image: url("../img/backpacking.jpg");
    background-size: cover;
    background-position: center;
  }
  .kayak {
    background-image: url("../img/kayak.jpg");
    background-size: cover;
    background-position: center;
  }
  .photography {
    background-image: url("../img/photography.jpg");
    background-size: cover;
    background-position: center;
  }
  .custom {
    background-image: url("../img/custom.jpg");
    background-size: cover;
    background-position: center;
  }
}
