.header {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px;
    width: 100%;
    margin: 0;
    ul {
      display: none;
    }
    .logo {
      display: flex;
      align-items: center;
      img {
      @include size(30px);
      -webkit-filter: invert(100%);
      filter: invert(100%);
      }
      h4 {
        padding-left: 10px;
      }
      @media #{$breakpoint-large} {
        img {
          @include size(50px);
        }
      }
    } //end logo

    @media #{$breakpoint-medium} {
      padding-top: 60px;
    }

    @media #{$breakpoint-large} {
      display: flex;
      align-items: center;
      justify-content: space-around;
      ul {
        display: inline;
        li {
          display: inline;
          padding: 0 10px;
        }
      }
      i {
        display: none;
      }
    }
  } //end navbar

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      @include size(60px);
      -webkit-filter: opacity(0.8);
      filter: opacity(0.8);
      margin-bottom: 25px;
    }
    button {
      display: none;
      @media #{$breakpoint-large} {
        display: block;
        background-color: $orange;
        border: none;
        padding: 20px;
        margin-top: 20%;
      }
    }
    i {
      margin-bottom: 20px;
      -webkit-filter: opacity(0.5);
      filter: opacity(0.5);
    }
    hr {
      color: white;
      border: 2px solid white;
      width: 250px;
      margin: 10px 0;
    }
    h1 {
      margin: 0;
    }
    img {
      @media #{$breakpoint-large} {
        margin-top: 75px;
      }
    }
  } //end hero-text

  .navbar2 {
    display: none;
  }

  @media #{$breakpoint-large} {
    height: 100vh;
  }
} //end header
