.header {
  color: white;
  .navbar {
    h4 {
      font-family: 'Spectral', serif;
      text-transform: uppercase;
      font-size: 1.3em;
      @media #{$breakpoint-large} {
        font-size: 2em;
      }
    }
    i {
      font-size: 2em;
    }
    .logo {
      img {
        color: white;
      }
    }

    @media #{$breakpoint-large} {
      a {
        color: white;
        font-family: "Oswald";
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
      }
    }
  }

  .hero-text {
    i {
      font-size: 6em;
      @media #{$breakpoint-medium} {
      font-size: 8em;
      }
    }
    h2 {
      font-family: "Oswald";
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 3px;
      font-weight: 400;
      @media #{$breakpoint-medium} {
        font-size: 1.2em;
      }
      @media #{$breakpoint-large} {
        font-size: 1.5em;
      }
    }
    h1 {
      font-family: 'Spectral', serif;
      text-transform: uppercase;
      font-size: 2.5em;
      font-weight: 600;
      @media #{$breakpoint-medium} {
        font-size: 4.5em;
      }
      @media #{$breakpoint-large} {
        font-size: 7em;
      }
    }
    button {
      font-family: "Oswald";
      text-transform: uppercase;
      color: white;
      font-size: 1em;
      letter-spacing: 1px;
    }
  } // hero text
} // header

.navbar2 {
  @media #{$breakpoint-large} {
    a {
      color: white;
      font-family: "Oswald";
      font-size: 1.2em;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 300;
    }
    p {
      color: #bdbdb7;
      font-family: "Oswald";
      font-size: 1.2em;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 300;
    }
    i {
      color: #868686;
      font-size: 2em;
    }
  }
}

.body-container {
  .img-card {
    h3 {
      color: white;
      font-family: "Oswald";
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 500;
      text-shadow: 1px 1px 2px black;
    }
  }
}
